.sidebar {
    background-color: #504f4f;
    overflow: auto;
    position: relative;    
}
.sidebar a {
    float: left;
    display: block;
    color: rgb(88, 6, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #f8f6f6;
    color: rgb(99, 23, 23);
}
.sidebar a.active {
    background-color: #f3f3f3;
    color: rgb(134, 38, 38);;border: 6px groove #888;
    
}

.container {
    max-width: auto;
    height: auto;
    margin: 400px;
    padding: 200px;
    border-radius: auto;
    box-shadow:auto;
    background: linear-gradient(to right, #4d0505, #000000, rgb(255, 255, 255));    
}

